block foot
  .pull-right.hidden-xs
    | Terms and conditions for use
  // Default to the left
  strong
    | Copyright © 2016 
    a(href='#') IOT Organisation
    | .
  |  All rights reserved.
  .control-sidebar-bg
  // ./wrapper
  // REQUIRED JS SCRIPTS
  // jQuery 2.1.4
  script(src='vendor/requirejs/require.js' data-main="scripts/main")