#opsSensorModuleListDiv.box.box-primary
  .box-header.no-border
    #sensorModuleListHeader.h3.box-title Sensor Details: A4
    .box-tools.pull-right
      span.label.label-primary Last Update: 00:00:00
      button.btn.btn-box-tool(data-widget='collapse')
        i.fa.fa-minus
      button.btn.btn-box-tool(data-widget='remove')
        i.fa.fa-times
  .box-body
    ul.products-list.product-list-in-box
      li.item
        .product-img
          img(src='https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/servers.png', alt='Product Image')
        .product-info
          a.product-title(href='javascript::;') Sensor Location
          #sensorModuleListSensorLocation.span.product-description
            | Easting: 123456 | Northing: 567890 | Elevation: 342m
    .table-responsive
        table.table.no-margin
          thead
            tr
              th Sensor Name
              th Value
              th Change
              th Status
          tbody
            tr
              td
                a(href='#', onclick='OpsSensorModulesList.loadSelectedModuleInformation("RSSI");return false;') RSSI
              td 
                #sensorModuleListRSSIValue.span -
              td
                .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
              td
                span.label.label-success No Problems
            tr
              td
                a(href='#', onclick='OpsSensorModulesList.loadSelectedModuleInformation("Air Temperature 1");return false;') Air Temperature 1
              td 
                #sensorModuleListAirTemp1Value.span -
              td
                .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
              td
                span.label.label-warning Low Power
            tr
              td
                a(href='#', onclick='OpsSensorModulesList.loadSelectedModuleInformation("Air Temperature 2");return false;') Air Temperature 2
              td 
                #sensorModuleListAirTemp2Value.span -
              td
                .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
              td
                span.label.label-danger No Signal
            tr
              td
                a(href='#', onclick='OpsSensorModulesList.loadSelectedModuleInformation("Air Temperature 3");return false;') Air Temperature 3
              td 
                #sensorModuleListAirTemp3Value.span -
              td
                .sparkbar(data-color='#00c0ef', data-height='20') 90,80,-90,70,-61,83,63
              td
                span.label.label-info Transmitting
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Air Humidity 1");return false;') Air Humidity 1
              td 
                #sensorModuleListAirHum1Value.span -
              td
                .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
              td
                span.label.label-success No Problems
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Air Humidity 2");return false;') Air Humidity 2
              td 
                #sensorModuleListAirHum2Value.span -
              td
                .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
              td
                span.label.label-danger No Signal
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Air Humidity 3");return false;') Air Humidity 3
              td 
                #sensorModuleListAirHum3Value.span -
              td
                .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
              td
                span.label.label-success No Problems
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Soil Temperature 1");return false;') Soil Temperature 1
              td 
                #sensorModuleListSoilTemp1Value.span -
              td
                .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
              td
                span.label.label-success No Problems
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Soil Temperature 2");return false;') Soil Temperature 2
              td 
                #sensorModuleListSoilTemp2Value.span -
              td
                .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
              td
                span.label.label-success No Problems
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Soil Temperature 3");return false;') Soil Temperature 3
              td 
                #sensorModuleListSoilTemp3Value.span -
              td
                .sparkbar(data-color='#00c0ef', data-height='20') 90,80,-90,70,-61,83,63
              td
                span.label.label-info Transmitting
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Soil Moisture 1");return false;') Soil Moisture 1
              td 
                #sensorModuleListSoilMoist1Value.span -
              td
                .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
              td
                span.label.label-warning Low Power
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Soil Moisture 2");return false;') Soil Moisture 2
              td 
                #sensorModuleListSoilMoist2Value.span -
              td
                .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
              td
                span.label.label-success No Problems
            tr
              td
                a(href='#',onclick='OpsSensorModulesList.loadSelectedModuleInformation("Soil Moisture 3");return false;') Soil Moisture 3
              td 
                #sensorModuleListSoilMoist3Value.span -
              td
                .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
              td
                span.label.label-success No Problems
  .sensorOverlay
    img(src='https://d13yacurqjgara.cloudfront.net/users/52627/screenshots/2074692/150522_1.png', class='sensorEmptyState')
