include ../mixins/mixins-dashboard

#sheepPositionTracersDiv.box.box-primary
  #sheepPositionTracersDivOverlay.overlay(style="display:none;")
    i.fa.fa-cog.fa-spin
  .box-header.no-border
    h3.box-title Sheep Position Tracers
    .box-tools.pull-right
      button.btn.btn-box-tool(data-widget='collapse')
        i.fa.fa-minus
      button.btn.btn-box-tool(data-widget='remove')
        i.fa.fa-times    
  .box-body
    mixin basicMap("sheepTraceMap", 300)
    .form-group
        label Sheep ID
        select.form-control(id="sheepTrackSelectSheepId")
        label Date and time Start:
        #sheepTrackSelectDateTime.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
        label Update Frequency (seconds)
        select.form-control(id="sheepTrackSelectUpdateFrequency")
          option 10
          option 20
          option 30
          option 40
        label Time periods (seconds)
        select.form-control(id="sheepTrackSelectTimePeriod")
          option 30
          option 60
          option 90
          option 120
          option 150
    button(class="btn btn-default", id="SheepButton1").
      Start
    #sheepTrackStatusBar Last Updated:
  
