extends ../components/component-box.jade

append foot

block boxHeading
  h3.box-title Sheep Status
  
block boxBody
  ul.users-list.clearfix
        li
          img(src='/img/Sheep.png', alt='Sensor Image')
          a.users-list-name(href='#') Polly
          span.users-list-date Last Update: Unknown
        li
          img(src='/img/Sheep.png', alt='Sensor Image')
          a.users-list-name(href='#') Dolly
          span.users-list-date Last Update: Unknown
