extends ../components/component-box.jade

block boxHeading
  .h3.box-title Sheep Data Explorer Summary
  
block boxBody
  .col-md-4.col-sm-4
    .pad.box-pane-right.bg-light-blue(style='min-height: 250px')
      | Summary Information

  .col-md-4.col-sm-4
    .pad.box-pane-right.bg-olive(style='min-height: 250px')
      | Summary Information

  .col-md-4.col-sm-4
    .pad.box-pane-right.bg-orange(style='min-height: 250px')
      | Summary Information
