extends ../components/component-box
	
block boxHeading	
	h3.box-title Soil Temperature
	
block boxBody
	div(id='soil-temp-chart' style='width:100%; height:600px; padding-left:20px; padding-right:20px;')
