extends ../components/component-box
	
block boxHeading	
	h3.box-title Soil Moisture
	
block boxBody
	div(id='soil-moisture-chart' style='width:100%; height:500px; padding-left:20px; padding-right:20px;')
