extends ../components/component-box

append foot
	script(src='/plugins/amcharts/amcharts/amcharts.js')
	script(src='/plugins/amcharts/amcharts/serial.js')
	script(src='/plugins/amcharts/amcharts/amstock.js')
	script(src='/js/components/soil-temp-chart.js')
	
block boxHeading	
	h3.box-title Soil Temperature
	
block boxBody
	div(id='soil-temp-chart' style='width:100%; height:600px; padding-left:20px; padding-right:20px;')
