extend layout
include ./mixins/mixins-dashboard

append head

append foot

block navigationLinks
  - var navSelected = 'Operations'; 

block sectionContentHeader
  h1
    | Operations
    small
      | Here you can monitor the hardware and software operations as part of this IoT project.
  ol.breadcrumb
    li
      a(href='#')
        i.fa.fa-dashboard
        |  Operations
    li.active Summary
    
block sectionContentLeftCol
  .row
    +smallBox("nodeStatus",      "Node Status")
    +smallBox("sheepNodeStatus", "Sheep Status")
  //- +placeholderBox("System status")
  include includes/site-location-map.jade
  include includes/ops-sensormodule-list.jade

block sectionContentRightCol
  include includes/sheep-grid-status.jade
