.box.box-primary
  .box-header.no-border
    block boxHeading
    .box-tools.pull-right
      block boxUpdates
      button.btn.btn-box-tool(data-widget='collapse')
        i.fa.fa-minus
      button.btn.btn-box-tool(data-widget='remove')
        i.fa.fa-times
  .box-body
    block boxBody
