.box.box-primary
  .box-header.no-border
    block boxHeading
    .box-tools.pull-right
      button.btn.btn-box-tool(data-widget='collapse')
        i.fa.fa-minus
      button.btn.btn-box-tool(data-widget='remove')
        i.fa.fa-times
      button.btn.btn-primary.btn-sm.daterange.pull-right(data-toggle='tooltip', title='Date range')
        i.fa.fa-calendar
  .box-body
    block boxBody
