//
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to get the
  desired effect
  |---------------------------------------------------------|
  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
body.hold-transition.skin-black-light.sidebar-mini
  .wrapper
    // Main Header
    header.main-header
      // Logo
      a.logo(href='index2.html')
        // mini logo for sidebar mini 50x50 pixels
        span.logo-mini IOT
        // logo for regular state and mobile devices
        span.logo-lg IOT
      // Header Navbar
      nav.navbar.navbar-static-top(role='navigation')
        // Sidebar toggle button
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only Toggle navigation
        // Navbar Right Menu
        .navbar-custom-menu
          ul.nav.navbar-nav
            // Notifications Menu
            li.dropdown.tasks-menu
              // Menu Toggle Button
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-flag-o
                span.label.label-danger 9
              ul.dropdown-menu
                li.header You have 9 new notifications
                li
                  // Inner menu: contains the tasks
                  ul.menu
                    li
                      // Task item
                      a(href='#')
                        // Task title and progress text
                        h3
                          | Sensor Battery Life
                          small.pull-right 20%
                        // The progress bar
                        .progress.xs
                          // Change the css width attribute to simulate progress
                          .progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                            span.sr-only 20% Complete
                    // end task item
                li.footer
                  a(href='#') View all notifications
            // User Account Menu
            li.dropdown.user.user-menu
              // Menu Toggle Button
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                // The user image in the navbar
                img.user-image(src='/img/boxed-bg.jpg', alt='User Image')
                // hidden-xs hides the username on small devices so only the image appears.
                span.hidden-xs Dashboard Admin
              ul.dropdown-menu
                // The user image in the menu
                li.user-header
                  img.img-circle(src='/img/boxed-bg.jpg', alt='User Image')
                  p
                    | IoT Dashboard Admin
                    small Member since Nov. 2016
                // Menu Body
                li.user-body
                  .col-xs-4.text-center
                    a(href='#') Value
                  .col-xs-4.text-center
                    a(href='#') Value
                  .col-xs-4.text-center
                    a(href='#') Value
                // Menu Footer
                li.user-footer
                  .pull-left
                    a.btn.btn-default.btn-flat(href='#') Profile
                  .pull-right
                    a.btn.btn-default.btn-flat(href='#') Sign out
    // Left side column. contains the logo and sidebar
    aside.main-sidebar
      // sidebar: style can be found in sidebar.less
      section.sidebar
        // Sidebar Menu
        ul.sidebar-menu
          li.header IOT DASHBOARD SECTIONS
          // Optionally, you can add icons to the links
          li.active
            a(href='/ops')
              i.fa.fa-dashboard
              span Operations
          li
            a(href='/deSoil')
              i.fa.fa-bar-chart
              span Soil Sensors
          li
            a(href='/deSheep')
              i.fa.fa-paw
              span Sheep Sensors
        // /.sidebar-menu
      // /.sidebar
// Content Wrapper. Contains page content
.content-wrapper
  // Content Header (Page header)
  section.content-header
    h1
      | Operations
      small
        | Here you can monitor the hardware and software operations as part of this IoT project.
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Operations
      li.active Summary
  // Main content
  section.content
    // Your Page Content Here
    .row
      section.col-lg-7.connectedSortable
        // Small boxes (Stat box)
        .row
          .col-lg-6.col-xs-6
            // small box
            .small-box.bg-primary
              .box-header
                // tools box
                .pull-right.box-tools
                // /. tools
              .inner
                h3 10 / 18
                p Node Status
              .icon
                i.ion.ion-ionic
          // ./col
          .col-lg-6.col-xs-6
            // small box
            .small-box.bg-primary
              .box-header
                // tools box
                .pull-right.box-tools
                // /. tools
              .inner
                h3 192 / 192
                p Sensor Status
              .icon
                i.ion.ion-ionic
          // ./col
        // /.row
        // Map box
        .box.box-primary
          .box-header.no-border
            h3.box-title Soil and Sheep Sensor Map
            .box-tools.pull-right
              button.btn.btn-box-tool(data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(data-widget='remove')
                i.fa.fa-times
          // /.box-header
          .box-body
            // <div id="world-map" style="height: 250px; width: 100%;"></div>
            #map(style='height: 400px; width: 100%;')
          // /.box-body
          .box-footer.no-border
            .row
              .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                #sparkline-1
                .knob-label Metric One
              // ./col
              .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                #sparkline-2
                .knob-label Metric Two
              // ./col
              .col-xs-4.text-center
                #sparkline-3
                .knob-label Metric Three
              // ./col
            // /.row
        // /.box
        .box.box-default
          .row
            .box-header
              // tools box
              .pull-right.box-tools
              // /. tools
            .col-xs-6.text-center(style='border-right: 1px solid #f4f4f4')
              input.knob(type='text', data-readonly='true', value='20', data-width='100', data-height='100', data-fgcolor='#39CCCC')
              .knob-label Battery Status
            // ./col
            .col-xs-6.text-center(style='border-right: 1px solid #f4f4f4')
              input.knob(type='text', data-readonly='true', value='50', data-width='100', data-height='100', data-fgcolor='#39CCCC')
              .knob-label Network Status
            // ./col
          // /.row
        // /.box-footer
        // PRODUCT LIST
        .box.box-primary
          .box-header.with-border
            h3.box-title Selected Node Details: ABC123
            .box-tools.pull-right
              button.btn.btn-box-tool(data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(data-widget='remove')
                i.fa.fa-times
          // /.box-header
          .box-body
            ul.products-list.product-list-in-box
              li.item
                .product-img
                  img(src='https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/servers.png', alt='Product Image')
                .product-info
                  a.product-title(href='javascript::;')
                    | Humidity Sensor 
                    span.label.label-success.pull-right On and functioning
                  span.product-description
                    | Serial Number: ABC1234GHT38492
              // /.item
              li.item
                .product-img
                  img(src='https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/servers.png', alt='Product Image')
                .product-info
                  a.product-title(href='javascript::;')
                    | Moisture Sensor 
                    span.label.label-success.pull-right On and functioning
                  span.product-description
                    | Serial Number: ABC1234GHT38492
              // /.item
              li.item
                .product-img
                  img(src='https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/servers.png', alt='Product Image')
                .product-info
                  a.product-title(href='javascript::;')
                    | Air Temp Sensor 
                    span.label.label-danger.pull-right Low Voltage
                  span.product-description
                    | Serial Number: ABC1234GHT38492
              // /.item
              li.item
                .product-img
                  img(src='https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/servers.png', alt='Product Image')
                .product-info
                  a.product-title(href='javascript::;') Sensor Location
                  span.product-description
                    | Easting: 123456 | Northing: 567890 | Elevation: 342m
              // /.item
          // /.box-body
        // /.box
      // /.left sortable content
      section.col-lg-5.connectedSortable
        // SOIL SENSORS LIST
        .box.box-danger
          .box-header.with-border
            h3.box-title Soil Sensor Nodes
            .box-tools.pull-right
              span.label.label-danger 4 Updates Within 24h
              button.btn.btn-box-tool(data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(data-widget='remove')
                i.fa.fa-times
          // /.box-header
          .box-body.no-padding
            ul.users-list.clearfix
              li
                img(src='http://www.delta-t.co.uk/imagesMCL/mcl-22-11-2011-13-21-58.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
              li
                img(src='http://www.delta-t.co.uk/imagesMCL/mcl-22-11-2011-13-21-58.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
              li
                img(src='http://www.delta-t.co.uk/imagesMCL/mcl-22-11-2011-13-21-58.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
              li
                img(src='http://www.delta-t.co.uk/imagesMCL/mcl-01-07-2011-05-22-20.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
              li
                img(src='http://www.delta-t.co.uk/imagesMCL/mcl-01-07-2011-05-22-20.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
              li
                img(src='http://www.delta-t.co.uk/imagesMCL/mcl-01-07-2011-05-22-20.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
              li
                img(src='http://g02.a.alicdn.com/kf/HTB1VXNmIXXXXXXPXpXXq6xXFXXXm/Hot-Output-For-arduino-font-b-Soil-b-font-Hygrometer-Detection-Module-1PC-font-b-Soil.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
              li
                img(src='http://g02.a.alicdn.com/kf/HTB1VXNmIXXXXXXPXpXXq6xXFXXXm/Hot-Output-For-arduino-font-b-Soil-b-font-Hygrometer-Detection-Module-1PC-font-b-Soil.jpg', alt='Sensor Image')
                a.users-list-name(href='#') IDABC123
                span.users-list-date 98% Battery | 0 Errors
            // /.users-list
          // /.box-body
        // SHEEP SENSORS LIST
        .box.box-primary
          .box-header.with-border
            h3.box-title Sheep Sensor Nodes
            .box-tools.pull-right
              span.label.label-danger 347 Updates Within 24h
              button.btn.btn-box-tool(data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(data-widget='remove')
                i.fa.fa-times
          // /.box-header
          .box-body.no-padding
            ul.users-list.clearfix
              each val in members
                li
                  img(src='#{val.image}', alt='Sheep Image')
                  a.users-list-name(href='#') #{val.name}
                  span.users-list-date #{val.status}
            // /.users-list
            
        // /.box-body
        .box.box-info
          .box-header.with-border
            h3.box-title Web API Data
            .box-tools.pull-right
              button.btn.btn-box-tool(data-widget='collapse')
                i.fa.fa-minus
              button.btn.btn-box-tool(data-widget='remove')
                i.fa.fa-times
          // /.box-header
          .box-body.no-padding
            #liveData(style='height: 120px; width: 100%;')
              | No Data
          // /.box-body
          
          .box
        
        .box.box-info  
          .box-header
            h3.box-title Current Weather: London, United Kingdom
          // /.box-header
          
          .box.body.no-padding
            table.table
              tr
                th(style='width: 10px') #
                th Task
                th(style='width: 40px') Label
              tr
                td 1.
                td Weather
                td
                  span.badge.bg-red#weatherResultsCurrentWeather No Data
              tr
                td 2.
                td Temperature
                td
                  span.badge.bg-yellow#weatherResultsTemp No Data
              tr
                td 3.
                td Pressure
                td
                  span.badge.bg-light-blue#weatherResultsPressure No Data
              tr
                td 4.
                td Humidity
                td
                  span.badge.bg-green#weatherResultsHumidity No Data
        // /.box-body
      // /.box
      // /.right sortable content
      // </div>

  // /.content
// /.content-wrapper
// Main Footer
footer.main-footer
  // To the right
  .pull-right.hidden-xs
    | Terms and conditions for use
  // Default to the left
  strong
    | Copyright © 2016 
    a(href='#') IOT Organisation
    | .
  |  All rights reserved.
