extends ../components/component-box.jade
include ../mixins/mixins-meta

append head

append foot

block boxHeading
  #opsSingleSensorHeader.h3.box-title Module Information: ABC123
  
block boxBody
  table#opsSingleSensorTable.table.table-bordered.table-hover
        thead
          tr
            th Serial Number
            th Purchase Date
            th Installation Date
            th Maintenance Date
            th Notes
        tbody
          tr
            td ABC1234567GHAKLNDJ465712
            td 05/09/2015
            td 15/10/2015
            td 20/12/2015
            td No problems reported.
